VITE_GOOGLE_MAPS_API_KEY=
VITE_STRIPE_PUBLISHABLE_KEY=

VEHICLE_VERIFICATION_PROVIDER=PAID
VEHICLE_REGISTRATION_API_URL=https://api.checkcardetails.co.uk/vehicledata/ukvehicledata
VEHICLE_REGISTRATION_API_KEY=
GOV_VEHICLE_API_KEY=
STRIPE_SECRET_KEY=
